body {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    color: rgba(0,0,0,0.8);
    font-size: 1.094rem;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-weight: 700;
    color: rgba(0,0,0,1);
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    margin: 1.5rem 0 1.2rem 0;
    font-size: 3rem;
}

h2 {
    margin: 1.1rem 0 1rem 0;
    font-size: 1.88rem;
}

h3 {
    margin: 0.9rem 0 0.7rem 0;
    font-size: 1.32rem;
}

footer {
    margin-top: 2rem;
}

.slogan {
    font-family: "Inconsolata";
    text-transform: none;
    font-weight: 400;
}

.pullquote {
    font-family: "Inconsolata";
}

p a, li a {
    color: #000000;
    border-bottom: 2px solid #29E4B6;
    text-decoration: none;
}

p a:hover, li a:hover {
    cursor: pointer;
    border-bottom: 0px solid;
    color: #29E4B6;
    text-decoration: none;
}

h1 a {
    background-color: #29E4B6;
    color: rgba(0,0,0,1);
    padding: 0px 8px 0px 8px;
    margin: 0px 5px;
}

h1 a:hover {
    background-color: #DDDC26;
    color: rgba(0,0,0,1);
    text-decoration: none;
}

strong {
    color: rgb(163, 46, 62);
}

/* Logos */

#pre-logo {
    background-color:#fff;
    width:100%;
    height:auto;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    margin: auto;
}

#logo {
    background-color:#fff;
    width:100%;
    height:auto;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    margin: auto;
}

/* Buttons and forms */

.but {
    color: #ff5100;
    border-width: 2px;
    border-radius: 0px;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Inconsolata',monospace;
    font-weight: 700;
    background-color: #f3eee3;
    text-transform: uppercase;
    position: relative;
    padding: .3em 1em;
    border: 2px solid;
        border-top-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 2px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em !important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    box-shadow: -6px 6px 0px 0px #a32e3e;
    margin-bottom: 25px;
}

.but:hover {
    border-width: 2px;
    border-color: #fff;
}

.form-group {
    margin: 1em 0 2em 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-bottom-width: 2px;
    border-bottom-color: #01a3fe;
    border-bottom-style: solid;
}

label {
    font-weight: 700;
}

/* CAJAS */

.caja-beige {
    background-color: #F3EEE3;
    border-radius: 0;
    border: none;
    margin: 1em 0 1em 0;
}

.caja-amarillo-verdoso {
    background-color: #DDDC26;
    border-radius: 0;
    border: none;
    margin: 1em 0 1em 0;
}

.caja-verde-aquamarina {
    background-color: #29E4B6;
    border-radius: 0;
    border: none;
    margin: 1em 0 1em 0;
}

.caja-verde-greenpeace {
    background-color: #66cc00;
    border-radius: 0;
    border: none;
    margin: 1em 0 1em 0;
}

.caja-naranja-oscuro {
    background-color: #FF5100;
    color: #fff;
    border-radius: 0;
    border: none;
    margin: 1em 0 1em 0;
}

.caja-naranja-oscuro h2, .caja-naranja-oscuro h3, .caja-naranja-oscuro h4 {
    color: #fff;
}

.caja-azul-intenso {
    background-color: #01A3FE;
    color: #fff;
    border-radius: 0;
    border: none;
    margin: 1em 0 1em 0;
}

.caja-azul-intenso h2, .caja-azul-intenso h3, .caja-azul-intenso h4 {
    color: #fff;
}

.caja-granate-novact {
    background-color: #A32E3E;
    color: #fff;
    border-radius: 0;
    border: none;
    margin: 1em 0 1em 0;
}

.caja-granate-novact h2, .caja-granate-novact h3, .caja-granate-novact h4 {
    color: #fff;
}

.caja-negro-textos {
    background-color: #000;
    color: #fff;
    border-radius: 0;
    border: none;
    margin: 1em 0 1em 0;
}

.caja-negro-textos h2, .caja-negro-textos h3, .caja-negro-textos h4 {
    color: #fff;
}